
.selected {
  opacity:1
}

html {
  height:100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  opacity:1;
  padding:0;
  margin:0;
  color: #4C4A4A;
}
body {
  margin:2vh 2vw
}
p {
  color:inherit;
}
menu {
  -webkit-padding-start:0;
}
main > section {
  padding:2vh 0;
  min-height:100vh
}

main > article {
  padding:0;
  min-height:100vh;
}

dl {
  display:none;
}

h1, h2, h3 {
  vertical-align: middle;
  margin:0 0 2vw 0
}

h1 {
  margin: 0
}

h1 > a {
  color: #4C4A4A;
}

menu {
  margin:1vh 1vw 1vh 0
}
menu > a {
  margin-right:2vw;
  opacity:0.5;
  font-style: italic;
}

header > menu > a {
  margin:0 2vw 2vh 0;
}

header > menu > a[href=work.html] {}

main > menu {
  margin-left:2vw;
  height:100vh;
}
main > menu > a {
  margin:1vh 2vw 1vh 0;
  opacity:0.8;
  display:inline-block;
}

img {
  max-width: 95vw;
}

* {
  /* outline: 1px dotted hsla(14, 100%, 50%, 0.5); */
}
a {
  text-decoration: none;

  color:inherit;
}
a:hover {
  transition: opacity 2s;
  opacity:1;
}

main > a {
  text-align: center;
  display:block;
  margin:2vw 0;
  text-decoration: none;
}

figure {
  display:block;
  text-align: center;
  padding:0;
  margin:2vh 0;
}

figure > img {
  max-width:100%;
  text-align:center;
  margin-bottom:1vh;
}
figcaption {
  text-align:left;
  margin:2vh 0;
}

figcaption h3 {
  font-size:4vw;
}

html.work main > section h1 {
  color:green
}


/* set font sizes */

html {
  font-size:3vw;
}

h1 {
  font-weight: 600;
  font-size:11vw;
}
h2 {
  font-size:6vw;
}
h3 {
  font-weight: 300;
  font-size:5vw;
  opacity:0.5;
  font-style: italic;
}
main > a {
  font-size:5vw;
}
figcaption > p {
  font-size:4vw;
}

a.selected {
  font-size:8vw;
}

menu > a {
  font-size: 7vw;
}

main > menu {
  margin-top:4vw
}

main > menu > a {
  font-size: 7vw;
  margin-bottom: 7vw;
  display: block;
}

td:first-of-type {
  width: 4rem;
}

td {
  height:3rem
}

@media (orientation: landscape) {

  html {
    font-size:3vh;
  }

  body > header,
  body > main {
    margin: 0 auto;
    max-width: 800px;
  }

  h1 {
    font-size:5.5vh;
  }
  h2 {
    font-size:5.5vh;
  }
  h3 {
    font-size:4vh;
  }

  main > a {
    font-size:3vh;
  }
  figcaption > p {
    font-size:3vh;
  }
  menu > a {
    font-size: 3.33vh;
    text-transform: uppercase;
  }

  main > menu > a {
    font-size: 5vh;
    margin-bottom: 4vh;
  }

  a.selected {
    font-size:125%;
  }

}
